/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ===== My CSS ===== */

/* Root Variables */

:root {
    --background-color: white;
    --primary-color:  rgba(13, 81, 62);
    --accent-color-1:  rgba(13, 81, 62, 0.683);
    --accent-color-2: #C4E0A7;
    --text-color: black;
    --font-h1: 'Cinzel Decorative', cursive;
    --font-h2-h3: 'Julius Sans One', sans-serif;
    --font-body: 'Manrope', sans-serif;
    --max-width: 1000px;
 }
 

/* ==== General Styles ==== */
html {
    scroll-behavior: smooth;
  }

body {
    color: #333;
    font-size: 1rem; 
    font-weight: 400;
    font-family: var(--font-body);
    line-height: 1.6;
    color: #333; 
    font-size: 1.2rem;
}
h1 {
    font-size: 2.5rem; 
    font-family: var(--font-h1);
}

h2 {
    font-size: 2rem; /* Section titles */
    font-weight: 700;
    font-family: var(--font-h2-h3);
    border-bottom: 2px solid black; 
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem; /* Smaller headings */
    font-weight: 500;
    font-family: var(--font-h2-h3); 
}
/* Mobile-friendly tweaks */
@media (max-width: 768px) {
    h1 {
      font-size: 1rem;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  
    h3 {
      font-size: 1.3rem;
    }
  }


/* ==== Navbar ==== */
.navbar {
    background-color: var(--accent-color-1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
}

.navbar-brand {
    font-family: var(--font-h1);
    color: white;
    font-size: 2rem;
}

.navbar-brand img {
    object-fit: cover;
}

.navbar-toggler {
    border-color: #ccc;
  }
  
.navbar-nav .nav-link {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease;
}

  .navbar-nav .nav-link:hover {
    color: black; 
  }

  .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--accent-color-2);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-icon-link {
    font-size: 1.5rem;
    padding: 5px;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-icon-link:hover {
    color: black;
    text-decoration: none;
  }

  .nav-icon-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--accent-color-2);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
  }
  
  .nav-icon-link:hover::after {
    width: 100%;
  }
  
/* ===== Hero Section ===== */

.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .hero-img {
    width: 100%;
    height: 60vh; 
    object-fit: cover;
  }

  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
  
  .hero-overlay h1 {
    background: var(--accent-color-1);
    padding: 20px 30px;
    font-size: 3rem;
    font-family: var(--font-h1);
    margin-bottom: 20px;
  }
  
  .hero-btn {
    background-color: #ffffffbe;
    font-weight: bold;
    color: #0D513E;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: none;
    font-size: 1.25rem;
    font-family: var(--font-body);
  }
  
  .hero-btn:hover {
    background-color: var(--accent-color-1);
    color: white;
  }
  
  /* ==== Responsive Styling For hero section ===== */
  @media (max-width: 768px) {
    .hero-img {
      height: 40vh;
    }
  
    .hero-overlay h1 {
      font-size: 2rem;
      padding: 15px 20px;
    }
  
    .hero-btn {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }

  @media (min-width: 992px) {
    .hero-img {
      height: 75vh;
    }
  }

  /* Responsize styles for headings */
  
/* ==== Menu page adjustments ==== */

.menu-hero-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: #ffffffbe;
    font-weight: bold;
    color: #0D513E;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 5px ;
    border: none;
    width: 40%;
    font-size: 1.5rem;
    font-family: var(--font-body);
}

.menu-hero-text {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:var(--accent-color-1);
    padding: 15px;
    width: 20%;
}

/* ==== Menu page nav ==== */

.menu-nav-container {
    background-color: var(--accent-color-2);
    max-width: 1200px; 
    margin: 5% auto;   
    padding: 10px 20px; 
  }
  
  .menu-link {
    font-family: 'Julius Sans One', sans-serif;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75rem 1rem;
    display: inline-block;
    transition: color 0.3s, border-bottom 0.3s;
  }
  
  .menu-link:hover {
    color: #000;
    border-bottom: 2px solid #000;
  }

  /* ====  Menu Page Appetizer card grid ==== */

  .card {
    border: none;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover;
    border-bottom: 2px solid #d9ead3;
  }
  
  .card-title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1rem;
  }
  
  .card-text {
    font-family: 'Manrope', sans-serif;
    font-size: 0.95rem;
  }
  
  .btn-success {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
  }
  
  .btn-success:hover {
    background-color: var(--accent-color-2);
  }
  
/* ==== Mains Carousel ==== */

.card-img-top {
    height: 200px;
    object-fit: cover;
  }
.carousel .card-img-top {
    height: 450px;
    object-fit: cover;
  }
  
  .carousel .card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
  }
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
/* ==== Hours of Operation ==== */

.container h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.menu-img-style {
    height: 300px;
    width: 98%;
    object-fit: cover;
    border-radius: 10px;
}

.menu-image-container .btn {
    background-color: #ffffffbe;
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border: none;
    width: 20%;
    font-size: 2rem;
}

.menu-image-container .btn:hover {
    background-color: var(--accent-color-1);
    color: white;
    border-color: white;
}

.equal-img {
    height: 750px; 
    object-fit: cover;
    width: 100%;
}

.rounded-img {
    border-radius: 15px;
}


/* ==== Reservation & Location ==== */

.container form input, .container form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-check {
    width: 20px;
    height: 20px;
    align-items: center; 
    gap: 1rem; 
    padding-top: 30px;
  }
  
.form-check-label {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-check-input:checked {
    background-color: var(--primary-color); 
    border-color: var(--primary-color);
  }

.btn-success {
    background-color: white;
    color: var(--primary-color);
    border: none;
    padding: 10px 40px;
    margin-top: 10px;
    font-size: 20px;
}
.text-center p {
    margin: 15px;
}
.green-box {
    background-color: var(--accent-color-2); 
    border-radius: 10px;
}

/* ==== Our Mission Image ==== */
.mission-img {
    border-radius: 20px;
    object-fit: cover;
    background-color: var(--accent-color-2);
    padding: 20px;
    width: 100%;
    height: auto;
  }
  .blockquote {
    font-style: italic;
    font-family: var(--font-h2-h3);
  }

  /* ==== Our staff section ==== */

  .card-img-top {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }

/* ==== Sustainability button ==== */

.sustainability-button {
    background-color: var(--accent-color-1);
    padding: 40px;
    color: white;
    font-family: var(--font-h2-h3);
    font-size: 1.5rem;
}

/*  ==== About page bottom grid ==== */

.custom-img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    object-position: center;
    border-radius: 20px; 
  }

  /* ==== Blog Posts ==== */

  .blog-post {
    background-color: var(--accent-color-2);
    padding: 10px;
  }

  /* ==== Hover for social media icons ==== */

  .social-link {
    font-size: 1.5rem; 
    color: #000; 
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
  }
  
  .social-link i {
    font-size: 1.5rem; 
    margin-right: 8px; 
  }
  
  .social-link:hover {
    color: var(--accent-color-2); 
  }

  /* ==== Focus Styling ==== */
  .btn:focus, .menu-link:focus {
    outline: 3px solid plum;
    outline-offset: 2px;
  }

/* ==== Footer ==== */

.icon-link {
    font-size: 2.5rem;
    padding: 10px;
    color: white;
    transition: color 0.3s ease;
  }
  
  .icon-link:hover {
    color: black;
    text-decoration: none;
  }

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;  
}
